#Soultion of Qs.1

In [1]:
marks =int(input("enter your marks "))
if marks>=90:
    print("you will get the grade A")
elif marks >80 and marks<90:
    print("you will get the grade B")
elif marks >=60 and marks<80:
    print("you will get the grade C")
else:
    print("you will get the grade D")

enter your marks  55

you will get the grade D

In [2]:

type(marks)

int

#Solution of QS.2

In [2]:
price=int(input("enter price"))
if price > 100000:
    print("i paid 15% road tax")
elif price >50000 and price<100000:
    print("i paid 10% road tax")
else:
    print("i paid 5% road tax")

enter price 25000

i paid 5% road tax

#Solution of QS.3

In [4]:
city = input("enter a city")
if city == "Delhi":
    print("Red Fort")
elif city == "agra":
    print("Taj Mahal")
elif city == "Jaipur":
    print("Jai Mahal")

enter a city agra

Taj Mahal

#Solution of Qs.4

In [7]:
n = int(input("enter your number"))
if n <=10:
    print("it is divisible by 3")

enter your number 6

it is divisible by 3

#Solution of Qs.5

In [3]:
a=1


while a <=10:
    print(a)
    a=a+1

1
2
3
4
5
6
7
8
9
10

Descripition =A while loop evalutes the condition. If the condition evalutes to True, the code inside the while loop
is executed. condition is evaluated again. This process continues until the condition is False and when condition evaluates to
False , the loop stops.

#Solution of Qs.7

In [1]:
n= int(input("enter the number:"))
while n >=1:
    print(n)
    n= n-1

enter the number: 10

10
9
8
7
6
5
4
3
2
1

# solution of Qs.8

In [3]:
n= int(input("enter the number:"))
while n >=1:
    print(n)
    n= n-1

enter the number: 10

10
9
8
7
6
5
4
3
2
1